<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/OpenCAD_logo.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns contents">
      <h5> OpenCAD </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>OpenCAD is an open source Identity Management, Computer Aided Dispatch, and Mobile Data Terminal solution designed for FiveM/GTA5 roleplay communities. </p>
      <a class="project-link" href="https://www.opencad.io/">Check it out</a>
    </div>
  </div>
</div>
